.passInput {
  border: 1px solid #d2d8d8;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.passInput input {
  flex: 1;
  padding: 0.8em 0;
  padding-right: 10px;
  font-size: 1em;
  border-width: 0;
}

.icon {
  padding: 0 10px;
  color: #889090;
  font-size: 1.7em;
}

.passInput input:focus {
  outline: none;
}
